@model IEnumerable<Vidly.Models.Rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Twoje wypozyczenia</h2>
@Html.ActionLink("Create New", "New", "Rental", null, new { @class = "btn btn-primary"})


    <table id="rentals" class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Movie</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

@section scripts{

  <script>
      $(document).ready(function (){
          var table = $("#rentals").DataTable({
              ajax: {
                  url: "/api/newrentals",
                  dataSrc: ""
              },
              columns: [
                  {
                      data: "customer.name",
                  },
                  {
                      data: "movie.name"
                  },
                  {
                      data: "id",
                      render: function (data) {
                          return "<button class='btn-link js-delete' data-rental-id=" + data + "> Delete </button>";
                      }
                  }
              ]

          });

          $("#rentals").on("click", ".js-delete", function () {
              var button = $(this);

              bootbox.confirm("Czy chcesz usunąć wypozyczenie", function (result) {
                  if (result) {
                      $.ajax ({
                          url: "/api/newrentals/" + button.attr("data-rental-id"),
                          type: "DELETE",
                          success: function () {
                              table.row(button.parents("tr")).remove().draw();
                          }
                      });
                  }
             });
         });
     });
  </script>
}

