@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Projekty</h2>

@Html.ActionLink("Create New", "New", "Movie", null, new { @class = "btn btn-primary"})


@if (!Model.Any())
{
    <p>Nie ma zadnego projektu</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Projects
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@Html.ActionLink(a.Name, "Edit", "Movie", new { id = a.Id }, null)</td>
                    <td>@a.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>

}
