<appSettings>
  <add key="MailServer" value="test-smtp.vidly.com"/>
  <add key="FacebookAppId" value="1348797898616760"/>
  <add key="FacebookAppSecret" value="7189ee5b9fa49624b3017dde680df955"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
